.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  margin-top: auto;
margin-bottom: 5px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.fighter-preview___block {
  background-color: white;
  border: 2px solid black;
  text-align: left;
  padding: 0 20px;
  width: 100%;
}
.fighter-preview___name{
  font-weight: bold;
}
.fighter-preview___labels{
  color: rgb(21, 11, 11);
}